src/main/java/cz/slama/school/ddw/hw2/generated/associativeRulesE/associativeRules_edited.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="object-stream">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="associationrules">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="com.rapidminer.operator.learner.associations.associationrule" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:float" name="confidence"/>
                    <xs:element type="xs:float" name="totalsupport"/>
                    <xs:element type="xs:float" name="lift"/>
                    <xs:element type="xs:float" name="laplace"/>
                    <xs:element type="xs:float" name="gain"/>
                    <xs:element type="xs:float" name="ps"/>
                    <xs:element type="xs:string" name="conviction"/>
                    <xs:element name="premise">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="com.rapidminer.operator.learner.associations.booleanattributeitem" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:byte" name="frequency" minOccurs="0"/>
                                <xs:element type="xs:string" name="name" minOccurs="0"/>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="id" use="optional"/>
                              <xs:attribute type="xs:byte" name="reference" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="class" use="optional"/>
                        <xs:attribute type="xs:byte" name="id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="conclusion">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="com.rapidminer.operator.learner.associations.booleanattributeitem" maxOccurs="unbounded" minOccurs="0">
                            <xs:complexType mixed="true">
                              <xs:sequence>
                                <xs:element type="xs:byte" name="frequency" minOccurs="0"/>
                                <xs:element type="xs:string" name="name" minOccurs="0"/>
                              </xs:sequence>
                              <xs:attribute type="xs:byte" name="id" use="optional"/>
                              <xs:attribute type="xs:byte" name="reference" use="optional"/>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="class" use="optional"/>
                        <xs:attribute type="xs:byte" name="id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="id" use="optional"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>